---
import { name } from "../../package.json";
import { App } from "../components/App";
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
